/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* varaibles */
:root {
  /* colors */
  --violet: 263, 55%, 52%;
  --vdGrayishBlue: 217, 19%, 35%;
  --vdBlackishBlue: 219, 29%, 14%;
  --white: 0, 0%, 100%;
  --lGray: 0, 0%, 81;
  --lGrayishBlue: 210, 46%, 95%;

  /* font sizes */
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
}

/* global reset */
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: hsl(var(--lGrayishBlue));
  display: flex;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* utility classes */
.bg-1 {
  background: hsl(var(--violet)) url(./images/bg-pattern-quotation.svg) top
    right 10% no-repeat;
}

.bg-1 .author-pic {
  outline: 2px solid hsl(var(--white), 0.5);
}

.bg-2 {
  background: hsl(var(--vdGrayishBlue));
}

.bg-3 {
  background: hsl(var(--white));
}

.bg-3 :is(.status, .review) {
  color: rgb(0, 0, 0, 0.5);
}

.bg-3 :not(.status, .review) {
  color: hsl(var(--vdGrayishBlue));
}

.bg-4 {
  background: hsl(var(--vdBlackishBlue));
}

.bg-4 .author-pic {
  border: 2px solid hsl(var(--violet), 0.5);
}

/* main */
main {
  width: 85vw;
  max-width: 1180px;
  margin: 4rem auto;
}

.testimonial {
  padding: var(--fs-30);
  color: hsl(var(--white));
  border-radius: 10px;
  margin-bottom: 2rem;
  display: grid;
  row-gap: 1rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.author-pic {
  width: 2rem;
  border-radius: 50%;
}

.name {
  font-size: var(--fs-14);
  font-weight: 500;
}

p:is(.review, .status) {
  font-size: var(--fs-13);
}

.status,
.review {
  color: hsl(var(--white), 0.5);
}

.testimony {
  font-size: var(--fs-20);
  line-height: 1.1;
}

@media screen and (min-width: 676px) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .testimonial {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  body {
    display: grid;
    place-items: center;
  }
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem 2rem;
    grid-template-areas:
      "a a b c"
      "d e e c";
  }

  .testimonial:nth-of-type(1) {
    grid-area: a;
  }
  .testimonial:nth-of-type(2) {
    grid-area: b;
  }
  .testimonial:nth-of-type(3) {
    grid-area: d;
  }
  .testimonial:nth-of-type(4) {
    grid-area: e;
  }
  .testimonial:nth-of-type(5) {
    grid-area: c;
  }
  .bg-1 {
    background: hsl(var(--violet)) url(./images/bg-pattern-quotation.svg) top
      right 25% no-repeat;
  }
}

/* footer */
.attribution {
  position: absolute;
  align-self: end;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
